name: "Check"
on:
  pull_request:
  push:

env:
  NIXPKGS_ALLOW_UNFREE: 1

jobs:
  tests:
    name: Build & Prove
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: cachix/install-nix-action@v20
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: DeterminateSystems/magic-nix-cache-action@v2
    - run: nix-shell --run 'easycrypt why3config'
    - run: nix-shell --run make
    - run: nix-shell --run "echo OK"
